# Window name
WindowName = MapperND

# Path to server folder
ServerPath = e:\gavno\repoz\FONDGIT\Server\

# Server executable and config name
ServerName = FOnlineServer

# Path to client folder
ClientPath = e:\gavno\repoz\Client\

# Mapper interface options
MapperInterface = mapper_default.ini